<% provide(:title, "Home") %>

<div class="center main jumbotron">

  <h2>Welcome to</h2>
  <h3>Ukirama Asset Lending System</h3>

  <div class="actions sign-up center">
    <%= link_to "Log in", new_user_session_path, class:"btn btn-primary" %>
  </div>

</div>